/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z{
display: flex;
/* gap: 100px; */
/* justify-content: center; */
align-items: center;

}

.page_item__z7Kdy{
flex: 1;
display: flex;
flex-direction: column;
gap: 20px;

}

.page_btn__VzVq_{
  background-color: aquamarine;
  color: black;
  border: none;
  padding: 20px ;
  font-size: large;
  width: max-content;
  border-radius: 15px;
  cursor: pointer;
}

.page_title__3jonF{
  font-size: 60px;
  background: linear-gradient(to bottom, #194c33 , #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page_desc__5JXkv{
  font-size: 20px;
}


.page_img__434ND{
  width: 100%;
  height: 500px;
  object-fit: contain;
  /* animation: move 2s infinite ease alternate; */
}

/* @keyframes move {
  from {
    transform: translateY(-15px);
  }
  to{
    transform: translateY(10px) ;
  }
} */
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/button/button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.button_container__n9vxy{
  background-color: aquamarine;
  color: black;
  border: none;
  padding: 20px ;
  font-size: large;
  font-weight: bold;
  width: max-content;
  border-radius: 15px;
  cursor: pointer;
}
