.container {
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
}

.textDiv {
  flex: 1;
  padding: 20px 0px;
}

.title {
  padding: 20px 0px;
}

.desc {
  padding-bottom: 40px;
  padding-right: 60px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 300px;
}

.img {
  object-fit: contain;
}
